variable "project_id" {
  description = "The project ID to host the database instance."
  type        = string
  default     = "{{ .ProjectID }}"
}

variable "db_name" {
  description = "The name of the database instance."
  type        = string
  default     = "{{ .DBName }}"
}

variable "region" {
  description = "The region of the database instance."
  type        = string
  default     = "{{ .Region }}"
}