module "instance" {
  source     = "github.com/GoogleCloudPlatform/cloud-foundation-fabric//modules/compute-vm?ref={{ .FastRef }}"
  project_id = var.project_id
  zone       = var.zone
  name       = var.instance_name
  tags       = ["web-app"]
  network_interfaces = [{
    network    = "{{ .Network }}"
    subnetwork = "{{ .Subnetwork }}"
    access_config = [{
      // Ephemeral public IP
    }]
  }]
  instance_type = "{{ .MachineType }}"
  boot_disk = {
    initialize_params = {
      image = "{{ .Image }}"
    }
  }

  service_account_scopes = [
    "cloud-platform", // Full access to all Cloud APIs
  ]

  metadata = {
    startup-script = <<-EOT
{{ .StartupScript }}
EOT
  }
}
