variable "project_id" {
  description = "Project ID"
  type        = string
  default     = "{{ .ProjectID }}"
}

variable "region" {
  description = "Region"
  type        = string
  default     = "{{ .Region }}"
}
